body {
  margin: 0;
  padding: 0;
  color: #E0E0E0;
  background-color: #121212;
}

.table {
  width: 100vw;
}

.table > thead > tr > th {
  padding: 0.25rem 0.5rem;
}

ul.pagination {
  margin-right: 2rem;
  list-style: none;
  float: right;
}

.pagination > li {
  display: inline-block;
  cursor: pointer;
  padding: 0 0.25rem;
}

.pagination > li:hover {
  font-weight: bold;
}

.pagination > li.active {
  font-size: 1.1rem;
  cursor: default;
  font-weight: bold;
}
