ul, ol {
  list-style: none;
}

.component .pagination > li {
  display: inline-block;
  cursor: pointer;
  padding: 0 0.2rem;
}

.component .pagination > li:hover {
  font-weight: bold;
}
.component .pagination > li.active {
  font-weight: bold;
}
